{% extends 'base.html' %}

{% block title %}
    Border Watch
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Importer L'image</h1>

        <!-- Formulaire pour uploader l'image -->
        <form id="imageForm" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" id="fileInput" name="image" accept="image/*" hidden>
            <div class="img-area" data-img="">
                <i class='bx bxs-cloud-upload icon'></i>
                <h3>Upload Image</h3>
                <p>Image size must be less than <span>2MB</span></p>
            </div>
            <button type="button" class="select-image">Select Image</button>
            <button type="submit" class="upload-image">Detect Object</button>
        </form>
    </div>

    <script>
        // Ouvrir le sélecteur de fichier lorsque l'utilisateur clique sur "Select Image"
        document.querySelector('.select-image').addEventListener('click', function() {
            document.getElementById('fileInput').click();
        });

        // Prévisualiser l'image sélectionnée
        document.getElementById('fileInput').addEventListener('change', function(event) {
            const file = event.target.files[0];
            if (file && file.size < 2 * 1024 * 1024) { // Limite de taille : 2MB
                const reader = new FileReader();
                reader.onload = function(e) {
                    document.querySelector('.img-area').style.backgroundImage = `url(${e.target.result})`;
                    document.querySelector('.img-area').innerHTML = ''; // Supprime l'icône et le texte
                };
                reader.readAsDataURL(file);
            } else {
                alert('L\'image doit faire moins de 2MB');
            }
        });
    </script>
{% endblock %}
