<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Border Watch</title>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/upload.css' %}">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo-img">
            <span class="logo-text">Border Watch</span>
        </div>
    </header>
    

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Border Watch. Tous droits réservés.</p>
    </footer>
</body>
</html>
